<table class='table'>
  <tr><%= attachment_image_tag(@customer_tag,  :real_estates_image, :fill, 100, 100, fallback: "no_image.jpg") %></tr>
  <tr>
	  <th>名前</th>
	  <th><%= @customer.last_name %></th>
  </tr>
  <tr>
	  <th>登録情報</th>
	  
	  <th>職業</th>
	  <th><%= @customer.jobs %></th>
	  <th>引っ越しの真剣度合い</th>
	  <th><%= @customer.seriousness %></th>
  </tr>
</table>

<div class='row'>
  <%#= link_to ''edit_customer_registration_path_path(@customer.id),class: "btn btn-outline-secondary btn-block fas fa-customer-cog edit_customer_#{@customer.id}" %>
</div>



<tbody>
        <% if @customer %>
         フォロー数: <%=link_to(@customer.following.count,admin_customer_relationship_followings_path(relationship_id: @customer.id, customer_id: @customer.id)) %>
         フォロワー数: <%= link_to(@customer.followers.count,admin_customer_relationship_followers_path(relationship_id: @customer.id,customer_id: @customer.id))  %>
        <% else %>
        フォロー、フォロワーがいません。
        <% end %>
</tbody>