  <%= form_with model: @customer, url: public_customer_path(@customer), local: true do |f| %>
<div class="form-group row">
  <%= f.label :jobs, "職業" %>
  <%= f.text_field :jobs, placeholder: "職業を記述します" %>
</div>
<div class="form-group row">
  <%= f.label :seriousness, "引っ越しの真剣度合い" %>
  <%= f.text_area :seriousness, placeholder: "ここに引っ越しの真剣度合いを記述します" %>
</div>
<div class="form-group row">
  <%#= f.label :moving_schedule, "引っ越し予定日" %>
  <%#= f.collection_select :category_id, Category.all, :id, :kinds, {prompt: "選択してください"} %>
</div>
<div class="actions">
  <%#= f.submit "自己紹介を更新する" %>
  <%= f.submit "自己紹介を更新する", class:"btn btn-success" %>
  <% end %>
