<% if @range == "Area" %>
    <tbody>
      <% @areas.each do |area| %>
        <tr>
         <td><%= real_estate.real_estate_name %></td>
          <td><%= real_estate.detail %></td>
          <td><%= real_estate.offer_price %></td>
        </tr>
      <% end %>
    </tbody>
  <% else %>
    <!--検索対象モデルがUserではない時(= 検索対象モデルがBookの時) -->
    <tbody>
      <% @real_estates.each do |real_estate| %>
        <tr>
          <td><%= real_estate.real_estate_name %></td>
          <td><%= real_estate.detail %></td>
          <td><%= real_estate.offer_price %></td>
        </tr>
      <% end %>
    </tbody>
  <% end %>
</table>