<div class="container" style="margin-bottom:500px;">
  <%= render "shared/flash_message" %>
  <div class="row">
    <div class="col">
    <h4>交渉物件カート</h4>
      <!--カート内に商品が入っていれば表示-->
      <% if @customer_cart_real_estates.exists? %>
        <div class="text-right mb-3">
          <%= link_to "交渉物件カートを空にする", public_cart_real_estates_destroy_all_public_cart_real_estates_path, method: :delete, class: "btn", style: "background-color: #b4d4d4; color: white;" %>
        </div>
        <table class="table">
          <thead>
            <tr bgcolor="#fce4ec">
              <th>賃貸物件名</th>
              <th>譲渡価格（税込）</th>
            </tr>
          </thead>
          <tbody>
            <% @sum = 0 %>
            <% @customer_cart_real_estates.each do |cart_real_estate| %>
            <tr bgcolor="#fcf7f7">
              <td>
                <%= link_to public_cart_real_estate_path(cart_real_estate.real_estate) do %>
                  <%#= attachment_image_tag public_cart_real_estates.real_estate , :image, :fill,50,50 ,fallback: "no_image.jpg",size: "50x50" %>
                  <%= cart_real_estate.real_estate.real_estate_name %>
                <% end %>
              
                
              
               
              </td>
              <td>
                
              </td>
                <!--合計金額表示記述-->
                
              <td>
                
                <%= link_to "削除する", public_cart_real_estate_path(cart_real_estate), method: :delete, class: "btn", style: "background-color:#ecc4d4; color: red;" %>
                <%= link_to "情報入力画面に進む", public_new_order_path(cart_real_estate), class: "btn mt-5", style: "background-color: #5cb85c; color: white;" %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
       
        <div>
      </div>
     </div>
    </div>
          
        <div class="row  justify-content-center">
        <div class="col text-center">
          <%= link_to "賃貸物件交渉を続ける", public_customer_relationship_matchers_path(customer_id: current_customer, relationship_id: current_customer), class: "btn mt-5", style: "background-color: #6599cc; color: white;" %>
        </div>
        
        <div class="col text-center">
        </div>
        </div>
      <!--カート内に商品が入っていなければ表示-->
      <% else %>
        <div class="text-center mt-5" style="font-size: 20px;">
          <p>現在、カート内に交渉物件は入っていません</p>
        </div>
      <% end %>
      </div>
    </div>