
<div class = "contents">
  <div class='row'>
    <div class='col-md-9 offset-md-1'>
        <h3>譲れる物件詳細ページです</h3>
        <h3>物件投稿者をフォローしてマッチングすると、下記物件を交渉することができます。</h3>
        <table border ="1" >
        <tr>
        <th>入力項目</th>
        <th>入力欄</th>
        </tr>
        <tr>
        <td>
        画像 
        </td>
        <td>
        <%= attachment_image_tag @real_estate, :image, size: "100x100", format: 'jpeg' %>
        </td>
        <tr></tr>
        <td>
        物件名
        </td>
        <td>
        <%= @real_estate.real_estate_name %>
        </td>
        </tr>
        <tr>
        <td> 
        物件所在地
        </td>
        <td>
        <%= @real_estate.area_id  %>
        </td>
        </tr><tr>
        <td> 
        種別
        </td>
        <td>
        <%= @real_estate.kinds %>
        </td>
        </tr><tr>
        <td> 
        構造
        </td>
        <td>
        <%= @real_estate.structure %>
        </td>
        </tr><tr>
        <td> 
        建築年月日
        </td>
        <td> 
        <%= @real_estate.date_of_construction %>
        </td> 
        </tr><tr>
        <td> 
        階建て
        </td> 
        <td> 
　    　<%= @real_estate.floor_building %>
　    　</td> 
　　    </tr><tr>
　　    <td> 
        駐車場
        </td> 
        <td> 
　    　<%= @real_estate.parking %>
　    　</td> 
　　    </tr><tr>
　　    <td> 
        引っ越し予定日
        </td> 
        <td> 
　　    <%= @real_estate.scheduled_to_move_out %>
　    　</td> 
　　    </tr><tr>
　　
　　  　</tr><tr>
　    　<td> 
        譲渡価格
        </td> 
        <td> 
　    　<%= @real_estate.offer_price %>
　　    </td> 
　　    </tr><tr>
  
    </table>
    <td><%= link_to '削除する', public_real_estate_path(@real_estate), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger destroy_real_estate_#{@real_estate.id}"%></td>



<%#= link_to "物件投稿者",public_customer_path(@real_estate.customer_id) %>
<td><% if @real_estate.favorited_by?(current_customer) %>
   <%= link_to public_real_estate_favorite_path(@real_estate), method: :DELETE do  %>
   <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
   <%= @real_estate.favorites.count %>like
   <% end %>
<% else %>
  <%= link_to public_real_estate_favorites_path(@real_estate) , method: :POST do %>
  <i class="fa fa-heart-o" aria-hidden="true"></i>
  <%= @real_estate.favorites.count %>like
  <% end %>
<% end %></td>


      　<% if @real_estate.customer == current_customer || signed_in?  %>
         フォロー数: <%=link_to(@customer.following.count,public_customer_relationship_followings_path(relationship_id: @customer, customer_id: @customer)) %>
         フォロワー数: <%= link_to(@customer.followers.count,public_customer_relationship_followers_path(relationship_id: @customer, customer_id: @customer))  %>
        <% if current_customer.following?(@customer) %>
        <%= link_to "フォロー外す", public_customer_relationship_path(@customer), method: :delete %>
        <% else %>
        <%= link_to "フォローする", public_customer_relationships_path(@customer), method: :post %>
        <% end %>
  
        <% if @real_estate.customer.matching.include?(current_customer)  %>
        <%= form_with model: @cart_real_estate, url: public_cart_real_estates_path, method: :post, local:true  do |f| %>
        <!--顧客情報送信フィールド-->
        <%= f.hidden_field :real_estate_id, value: @real_estate.id %>
        <%= f.hidden_field :customer_id, value: current_customer.id %>
        <!--購入数のセレクトボックス-->
        <%= f.submit "交渉物件カートに加える" %>
        </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>
  <% else %>
  <% end %>
  <% end %>
</div>       
   
 
    