<!DOCTYPE html>
<html>
  <head>
    <title>Tintaiyuzuru</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
   <% if controller.class.parent.name == "Admin" %>
          <%= render "admin/shared/header" %>
        <% else %>
          <%= render "public/shared/header" %>
   <% end %>

<% if signed_in? && unchecked_notifications.any?  %>
    <i class="fa fa-circle" style="color: gold;"></i>
<% end %>
<li>
    <%#= link_to "NOTICE", public_customer_notifications_path(customer_id: current_customer), class: "btn-default" %>
</li>

  <body>
    <%= yield %>
  </body>
</html>

<!DOCTYPE html>
<html>
  <head>
    <title>Tintai yuzuru</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>



      <footer class="mt-4">
         <%= render "shared/footer" %>
      </footer>

  </body>
</html>